.*
.github/
.idea/
.nyc_output/
.vscode/
*.log
*.tgz
coverage/
CONTRIBUTING.md
DEPENDENCIES.md
DEPLOY.md
deno.*
deno.*.*
deploy.sh
extra-checks/
gulpfile.js
karma.*.conf.js
media/
merge-coverage.js
node_modules/
package-lock.json
samples/
sonar-project.properties
src/
lib/**/*.map
test/
tsconfig*.json
webpack.*.config.js