.*
.github/
.idea/
.nyc_output/
.vscode/
*.log
*.tgz
coverage/
DEPENDENCIES.md
DEPLOY.md
deploy.sh
gulpfile.js
karma.*.conf.js
media/
node_modules/
package-lock.json
samples/
src/
test/
tsconfig*.json
webpack.*.config.js